.new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  margin-top: 12px;
}

.input {
  border-radius: 4px;
  height: 24px;
}

.input:focus {
  outline: none;
}
